aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
motor
numpy
pillow
psutil
python-3.10.12
pykeyboard
pyrogram==2.0.106
python-dotenv
pyyaml
requests
spotipy
tgcrypto
unidecode
tgcalls==1.2.2
git+https://github.com/MehmetAtes21/ydpdl@master
git+https://github.com/MehmetAtes21/histest@master
git+https://github.com/MehmetAtes21/ytsearch@master
git+https://github.com/alexmercerind/youtube-search-python@main
