aiofiles==23.1.0
aiohttp==3.8.5
asyncio==3.4.3
beautifulsoup4==4.12.2
dnspython==2.3.0
ffmpeg-python==0.2.0
GitPython==3.1.42
hachoir==3.1.3
heroku3==5.2.1
motor==3.1.1
numpy==1.21.6
pillow==9.4.0
psutil==5.9.5
py-tgcalls==1.2.2
git+https://github.com/alexmercerind/youtube-search-python@main
git+https://github.com/MehmetAtes21/ytsearch
